<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{>header}}

        {{>footer}}

        <p>in picture {{name}}</p>
        <img src="./img/suraj.JPG" width="200"> 
    </body>
</html>