<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{>header}}
        {{>footer}}
        <p>today the outside temperature is {{temperature}}</p>
        <p>and chance of rainfall is {{rainfall}}</p>
        <img src="./img/suraj.JPG" width="200"> 
    </body>
</html>